<h3> Question 1: </h3>Extracting Tesla Stock Data Using yfinance

In [64]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup


tsla = yf.Ticker("TSLA")
tsla_data = tsla.history(period="max")
tsla_data.reset_index(inplace=True)
tsla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

<h3>Question 2:</h3>Extracting Tesla Revenue Data Using Webscraping

In [70]:
url = "https://finance.yahoo.com/quote/TSLA/financials?p=TSLA"
tsla = requests.get(url).text
soup = BeautifulSoup(tsla , "html5lib")
tsla_revenue = soup.find("div" , class_ = "D(tbr) fi-row Bgc($hoverBgColor):h")

<h3>Question 3:</h3>Extracting GameStop Stock Data Using yfinance

In [21]:
gme = yf.Ticker("GME")
gme_data = tsla.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

<h3>Question 4:</h3> Extracting GameStop Revenue Data Using Webscraping

In [76]:
url = "https://finance.yahoo.com/quote/GME/financials?p=GME"
gme = requests.get(url).text
soup = BeautifulSoup(gme , "html5lib")
gme_revenue = soup.find("div" , class_ = "D(tbr) fi-row Bgc($hoverBgColor):h")

<h3>Question 5:</h3>Tesla Stock and Revenue Dashboard

In [61]:
tsla.financials.loc[['Total Revenue','Operating Revenue','Cost Of Revenue']]

                      2022-12-31     2021-12-31     2020-12-31
Total Revenue      81462000000.0  53823000000.0  31536000000.0
Operating Revenue  81462000000.0  53823000000.0  31536000000.0
Cost Of Revenue    60609000000.0  40217000000.0  24906000000.0

<h3>Question 6:</h3> GameStop Stock and Revenue Dashboard

In [63]:
gme.financials.loc[['Total Revenue','Operating Revenue','Cost Of Revenue']]

                     2023-01-31    2022-01-31    2021-01-31    2020-01-31
Total Revenue      5927200000.0  6010700000.0  5089800000.0  6466000000.0
Operating Revenue  5927200000.0  6010700000.0  5089800000.0  6466000000.0
Cost Of Revenue    4555100000.0  4662900000.0  3830300000.0  4557300000.0

<h3>Question 7:</h3>Sharing your Assignment Notebook

The Assignment URL is shared successfully!